*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
html, body{
    height: 100%;
    line-height: 1;
}
.body{
    font-weight: 500;
    font-size: 20px;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
}
/* --------------------------------------------- */
.main{
    padding-top: 100px;
    display: flex;
    gap: 100px;
    align-items: flex-start;
    justify-content: center;
}
.main-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), -5px -6px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.square{
    background-color: transparent;
}
/* .colored{
    background-color: #000;
} */
/* ------------------------------------------------ */
.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.slider__input {
    appearance: none;
    width: 100%;
    height: 8px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}
.slider__input::-webkit-slider-thumb{
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: #42f5da;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgb(84, 2, 95);
    cursor: pointer; 
}
/* -------------------------------------------------- */
.side-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.color-picker {
    display: flex;
}
.color-picker__label{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.color-picker__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-right: 5px;
}
.color-picker__input::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
}